<h1>GET <%= @uri %></h1>

<% unless @resource.links.empty? %>
  <h2>Links</h2>
  <table>
  <% @resource.links.each do|name,link| %>
    <tr>
      <td><%= link_to name.humanize, get_project_resource_path(uri: link) %></td>
    </tr>
  <% end %>
  </table>
<% end %>

<% unless @resource.children.empty? %>
  <h2>Resources</h2>
  <table>
    <tr>
    <% @resource.children.first.data.keys.each do|key| %>
      <th><%= key.to_s.humanize %></th>
    <% end %>
    </tr>
  <% @resource.children.each do|resource| %>
    <tr>
    <% resource.data.each do|k,v| %>
      <% if v.respond_to?(:each) %>
        <td><%= Resource.humanize_collection(v) %></td>
      <% else %>
        <td><%= v %></td>
      <% end %>
    <% end %>
    </tr>
  <% end %>
  </table>
<% end %>