<h1>HATEAOS Browser</h1>
<p class="lead">GET <%= @url %> (<%= link_to "Home", get_project_resource_path(@project) %>)</p>

<% if user_signed_in? %>
  <p><%= user_token %> (<%= link_to "Log out", logout_path %>)</p>
<% else %>
  <p><%= link_to "Log in", login_path(@project) %></p>
<% end %>

<% if @resource.collection? %>
  <%= render partial: "collection" %>
<% else %>
  <%= render partial: "resource" %>
<% end %>